# ============================================================
# ENVIRONMENT
# ============================================================

.env
.env.*
!.env.example


# ============================================================
# LARAVEL RUNTIME
# ============================================================

bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*


# ============================================================
# DEPENDENCIES
# ============================================================

vendor
node_modules


# ============================================================
# LOCAL / DEVELOPMENT
# ============================================================

.rr.yml
rr
frankenphp

fly.toml

.vscode
.idea


# ============================================================
# GIT
# ============================================================

.git
.gitignore
.gitattributes


# ============================================================
# TEMPORARY / OS FILES
# ============================================================

**/.sass-cache
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db


# ============================================================
# VITE DEVELOPMENT SERVER
# ============================================================

public/hot